soap-transaction-service/docs/transaction.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://fhtechnikum-wien.at/transactions"
                  targetNamespace="http://fhtechnikum-wien.at/transactions">
    <wsdl:types>
        <xs:schema xmlns="http://fhtechnikum-wien.at/transactions" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified" targetNamespace="http://fhtechnikum-wien.at/transactions">
            <xs:element name="StoreTransactionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="timestamp" type="xs:dateTime"/>
                        <xs:element name="amount" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StoreTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- New: TransactionType definition -->
            <xs:complexType name="TransactionType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="accountId" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="timestamp" type="xs:dateTime"/>
                    <xs:element name="amount" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>

            <!-- New: GetTransactionsRequest definition -->
            <xs:element name="GetTransactionsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="accountId" type="xs:int"/>
                        <xs:element name="from" type="xs:dateTime" minOccurs="0"/>
                        <xs:element name="to" type="xs:dateTime" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- New: GetTransactionsResponse definition -->
            <xs:element name="GetTransactionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="transactions" type="tns:TransactionType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <!-- Existing StoreTransaction messages -->
    <wsdl:message name="StoreTransactionRequest">
        <wsdl:part element="tns:StoreTransactionRequest" name="StoreTransactionRequest"/>
    </wsdl:message>
    <wsdl:message name="StoreTransactionResponse">
        <wsdl:part element="tns:StoreTransactionResponse" name="StoreTransactionResponse"/>
    </wsdl:message>

    <!-- New GetTransactions messages -->
    <wsdl:message name="GetTransactionsRequest">
        <wsdl:part element="tns:GetTransactionsRequest" name="GetTransactionsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTransactionsResponse">
        <wsdl:part element="tns:GetTransactionsResponse" name="GetTransactionsResponse"/>
    </wsdl:message>

    <wsdl:portType name="TransactionPort">
        <wsdl:operation name="StoreTransaction">
            <wsdl:input message="tns:StoreTransactionRequest" name="StoreTransactionRequest"/>
            <wsdl:output message="tns:StoreTransactionResponse" name="StoreTransactionResponse"/>
        </wsdl:operation>
        <!-- New: GetTransactions operation -->
        <wsdl:operation name="GetTransactions">
            <wsdl:input message="tns:GetTransactionsRequest" name="GetTransactionsRequest"/>
            <wsdl:output message="tns:GetTransactionsResponse" name="GetTransactionsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="TransactionPortSoap11" type="tns:TransactionPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="StoreTransaction">
            <soap:operation soapAction=""/>
            <wsdl:input name="StoreTransactionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="StoreTransactionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <!-- New: GetTransactions SOAP binding -->
        <wsdl:operation name="GetTransactions">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetTransactionsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetTransactionsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="TransactionPortService">
        <wsdl:port binding="tns:TransactionPortSoap11" name="TransactionPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>